
<h1>Artists</h1>
<% if @current_user %>
<p>
<%= link_to("Create Artist Profile", "/artists/new") %>
</p>
<% end %>

<div class="pure-g eng-art-index">
  <% @all_artists.each do |artist| %>
  <div class="pure-u-lg-1-3 pure-u-md-1-2 pure-u-1">
    <h3 class = "artist">
      <%= link_to( artist.name, "/artists/#{artist.id}") %>
    </h3>
    <p><%= (artist.bio).truncate_words(15) %></p>
    <p><%= link_to((image_tag(artist.image)),"/artists/#{artist.id}")  %></p>
    </div>
  <% end %>
</div>
