li {
  list-style: none;
}

img {
  max-width: 300px;
}

// label {
//   background-color: blue;
//   border: 2px solid yellow;
// }

select {
  border: 2px solid yellow;
}

.vote {
  display: inline-block;
}
