
<h1 class="main-title"><span>オーディオ ODIO オーディオ</span></h1>
<p class="about">A site to help new Audio Engineers gain recording experience and artists to get a free demo.</p><br>
<p class="about">If you are an Audio Engineer looking for experience, <a href="/users/new">register here</a> and create an engineer profile.</p><br>
<p class="about">Artists, <a href="/users/new">register here</a> and then follow the steps below</p>
<div class="pure-g">
  <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-1 intro">
  <h2>Create artist profile</h2>
  <p><i class="fa fa-user fa-5x" aria-hidden="true"></i></p>
  </div>
  <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-1 intro">
    <h2>Select Engineer from list</h2>
    <p><i class="fa fa-th-list fa-5x" aria-hidden="true"></i></p>
  </div>
  <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-1 intro">
    <h2>Make a booking</h2>
    <p><i class="fa fa-calendar fa-5x" aria-hidden="true"></i></p>
  </div>
  <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-1 intro">
    <h2>Rate Engineer</h2>
    <p><i class="fa fa-thumbs-up fa-5x" aria-hidden="true"></i></p>
  </div>
</div>
