<h1><%= @user.name %></h1>

<h3>My Artist profiles</h3>

<ul>
<% @user.artists.each do |i| %>
  <li><%= link_to( i.name, "/artists/#{i.id}" ) %></li>
<% end %>
</ul>

<h3>My Engineer profile</h3>
<ul>
  <% @user.engineers.each do |i| %>
  <li><%= link_to(i.name, "/engineers/#{i.id}") %></li>
  <% end %>
</ul>
