<h1>Engineers index</h1>


<ul>
  <% @all_engineers.each do |engineer| %>
    <li>
      <%= link_to( engineer.name, "/engineers/#{engineer.id}" ) %>
    </li>
  <% end %>

</ul>

<% if @current_user %>
<p>
 <%= link_to("Create Engineer Profile", "/engineers/new") %>
</p>
<% end %>
