<h1>All bookings</h1>


<ul>
  <% @all_bookings.each do |i| %>
    <li>
      Artist: <%= i.artist.name %>
    </li>
    <li>
      Engineer:<%= i.engineer.name %>
    </li>
    <li>
      Appointment Time <%= i.appointment_time %>
    </li>
    <li>
      Duration: <%= i.duration %> hr
    </li>
    <hr>
  <% end %>

</ul>
